.comp-switch {
  display: block;
}

/* Background */

/* Not Checked */
input {
  background-color: #acabab;
  border-radius: 15px;
  height: 30px;
  width: 60px;
  position: relative;
  outline: none;
  transition: 0.6s;
  -webkit-appearance: none;
}

/* Checked */
input:checked {
  background-color: #69bff0;
}

/* Disabled */
input:disabled {
  background-color: #d6d6d657;
}

/* Switch */

/* Not Checked */
input::before {
  background-color: #fff;
  border-radius: 15px;
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  transition: 0.6s;
  top: 2px;
  left: 2px;
}

/* Checked */
input:checked::before {
  transform: translateX(30px);
}

/* Disabled */
input:disabled::before {
  position: absolute;
  background-color: #acabab;
}
